<html>
    <body>
        <form action='/predict' method='POST'>
            Sepal Length: <input type='text' name='sepal_length' required><br>
            Sepal Width: <input type='text' name='sepal_width' required><br>
            Petal Length: <input type='text' name='petal_length' required><br>
            Petal Width: <input type='text' name='petal_width' required><br>
            class: {{result}} <br>
            <input type='submit' value='Predict'>


        </form>
            
    </body>
</html>